<% if current_user %>
  <div class="conversations-list">
    <h1> Users </h1>
    <br>
    <ul>
    <% User.where.not(id: current_user.id).each do |user| %>
      <li><%= link_to user.username, conversations_path(target_id: user.id), method: :post %></li>
    <% end %>
    </ul>
  </div>
<% end %>
